<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.x10d.presenca"
    android:versionCode="5"
    android:versionName="5.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26" />
    
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
    

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <!-- 
       <activity
            android:name=".view.WebViewActivit"
            android:label="WebViewActivit">
       </activity>
    
         -->
        <activity
            android:name=".view.MenuSistemaActivity"
            android:label="Dashboard" >
    	</activity>
    	
       <activity
            android:name=".view.LoginActivity"
            android:label="Login">
       </activity>
        
    	
        <activity
            android:name=".view.CadastroMembroActivity"
            android:label="Ficha de Inscrição" >
    	</activity>
        
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:label="ZXing ScanBar"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.GeraCodigoDeBarrasActivity"
            android:label="Gerar código de barras" >
    	</activity>
        
        <activity
            android:name=".view.RelatorioActivity"
            android:label="Relatório" >
    	</activity>
    
        <activity
            android:name=".view.ChamadaActivity"
            android:label="Realizar Chamada" >
    	</activity>
    
        <activity
            android:name=".view.RelFrequenciaDiaActivity"
            android:label="Relatorio de frequencia por dia">
    	</activity>
    
    </application>

</manifest>
